@import "app";

#addressSearch {
    position: absolute;
    left: 5%;
    top: 30px;
    z-index: 5;
    width: 20%;
}

#dateRange {
  position: absolute;
  left: 5%;
  top: 225px;
  z-index: 5;
  width: 20%;
}

#resetDatesButton {
  position: absolute;
  left: 5%;
  top: 375px;
  z-index: 5;
  width: 20%;
}

#typeForm {
  position: absolute;
  left: 5%;
  top: 420px;
  z-index: 5;
  width: 20%;
}

#submitButton {
    position: absolute;
    display: inline-block;
    left: 70%;
    width: 30%;
    background-color: $teal;
    color: $white;
    z-index: 5;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    padding: 0px;
}

#submitButton:hover, #submit:hover{
    background-color: $light-teal;
}

#boundingInstructionsIcon {
    position: absolute;
    left: 25.5%;
    width: 1%;
    top: 90px;
}

.info:hover {
    cursor: pointer;
    cursor: hand;
}

#createBoundingBoxButton {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 85px;
}

#deleteBoundingBoxButton {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 130px;
}

#downloadCSVButton {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 175px;
}

#downloadCsvInstructionsIcon {
    position: absolute;
    left: 25.5%;
    top: 180px;
}

#current_location_button, #submit{
    background-color: $teal;
    color: $white;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#current_location_button:hover, #submit:hover {
    background-color: $light-teal;
    cursor: pointer;
}

#form_fields {
    margin-top: 1em;
    padding: 1em;
}

#form_button {
    position: absolute;
    background-color: $red;
    width: 20%;
    color: white;
    bottom: 10px;
    left: 5%;
    display: table;
    margin: 0 auto;
    z-index: 6;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
}

#close_info, #close_form {
    position: absolute;
    background-color: $red;
    color: $white;
    height: 25px;
    width: 25px;
    top: 5px;
    right: 0px;
    padding: 1px;
}

#form_button:hover, #close_info:hover, #close_form:hover {
    background-color: $light-red;
    cursor: pointer;
}

#info_container, #form_container {
    display: none;
    position: absolute;
    background-color: white;
    width: 30%;
    overflow-y: scroll;
    color: black;
    top: 0px;
    left: 0px;
    z-index: 6;
    height: 100%;
}

#inputPanel {
    width: 30%;
    left: 0px;
    top: 0px;
    float: left;
}

#googleMap {
    width:70%;
    right: 0px;
    top: 0px;
    float: right;
}

#map-legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
}

#wrapper {
    position:relative;
    overflow: hidden;
}

#address_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

#geocode_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

.ui.approve.button {
    display: block;
    margin: 0 auto;
}

#replaceable > p,a {
    margin: 0 0 0.5em;
}

.bus_number, .led_screen_number {
    display: hide;
}

form textarea#description {
    min-height: 2em;
    height: 4em;
}

@media all and (max-width: $mobile-breakpoint) {
    #createBoundingBoxButton,
    #deleteBoundingBoxButton,
    #resetDatesButton,
    #dateRange,
    #map-legend
    #inputPanel {
        display: none;
    }
    #googleMap {
        width: 100%;
    }
    #addressSearch {
        width: 80%;
        left: 5%;
    }
    #form_container,
    #info_container {
        position: absolute;
        width: 80%;
        left: 5%;
        top: 80px;
    }
    #form_button {
        position: absolute;
        width: 80%;
        left: 5%;
        bottom: 0px;
    }
    #submitButton {
        left: 95%;
    }
}
