@import "app";

#createBoundingBoxButton,
#deleteBoundingBoxButton,
#downloadCSVButton,
#uploadCSVButton,
#dateRange,
#resetDatesButton,
#typeForm {
    margin: 5px auto;
    width: 100%;
}

#addressForm,
#licenseForm {
    margin: 5px auto;
    width: 100%;
}

#addressSearch,
#licenseSearch {
    width: 100%;
}

#licenseSubmitButton {
    width: 30%;
    text-align: center;
}

#submitButton {
    width: 30%;
    background-color: $teal;
    color: $white;
    z-index: 5;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

#submitButton:hover, #submit:hover{
    background-color: $light-teal;
}

#current_location_button, #submit{
    background-color: $teal;
    color: $white;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#current_location_button:hover, #submit:hover {
    background-color: $light-teal;
    cursor: pointer;
}

#form_fields {
    margin-top: 1em;
    padding: 1em;
}

#form_button {
    background-color: $red;
    width: 100%;
    color: white;
    margin: 5px auto;
    z-index: 6;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
}

#close_info, #close_form {
    background-color: $red;
    color: $white;
    height: 25px;
    width: 25px;
    top: 5px;
    right: 0px;
    padding: 1px;
}

#form_button:hover, #close_info:hover, #close_form:hover {
    background-color: $light-red;
    cursor: pointer;
}

#info_container, #form_container {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow-y: scroll;
    color: black;
    top: 0px;
    left: 0px;
    z-index: 6;
    height: 100%;
}

#inputPanel {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    float: left;
    overflow-y: scroll;
    padding: 15px 30px;
}

#googleMap {
    width:70%;
    right: 0px;
    top: 0px;
    float: right;
}

#wrapper {
    position:relative;
    overflow: hidden;
}

#address_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

#geocode_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

.ui.approve.button {
    display: block;
    margin: 0 auto;
}

#replaceable > p,a {
    margin: 0 0 0.5em;
}

.bus_number, .led_screen_number {
    display: hide;
}

form textarea#description {
    min-height: 2em;
    height: 4em;
}

@media all and (max-width: $mobile-breakpoint) {
    #inputPanel {
        width: 100%;
    }

    #licenseSearch,
    #createBoundingBoxButton,
    #deleteBoundingBoxButton,
    #downloadCSVButton,
    #uploadCSVButton,
    #dateRange,
    #resetDatesButton,
    #typeForm,
    #vehicleDivider {
        display: none;
    }
    #googleMap {
        width: 100%;
    }

    #addressForm {
        position: absolute;
        width: 80%;
        margin: auto;
        top: 30px;
        z-index: 1;
    }

    #form_container,
    #info_container {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 30px;
    }
    #form_button {
        position: absolute;
        width: 80%;
        margin: auto;
        bottom: 10px;
    }
    #submitButton {
        left: 95%;
    }
}
