@import "app";

#createBoundingBoxButton,
#deleteBoundingBoxButton,
#downloadCSVButton,
#uploadCSVButton,
#dateRange,
#resetDatesButton,
#typeForm {
    margin: 5px auto;
    width: 100%;
}

#open-file-label,
#open-file {
    margin: 0px 0px 10px auto;
    width: 100%;
}

#centerMapDivider {
    clear: both;
}

#addressForm,
#licenseForm {
    margin: 5px auto;
    width: 100%;
}

#addressSearch,
#licenseSearch {
    width: 100%;
}

#submitButton, #licenseSubmitButton {
    width: 30%;
    background-color: $teal;
    color: $white;
    z-index: 5;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    display: inline-block;
}

#submitButton:hover, #licenseSubmitButton:hover, #submit:hover{
    background-color: $light-teal;
}

.long-button, #submit{
    background-color: $teal !important;
    color: $white !important;
    width: 100%;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    margin-bottom: 1em;
}

.long-button:hover, #submit:hover {
    background-color: $light-teal !important;
    cursor: pointer;
}

#form_fields {
    margin-top: 1em;
    padding: 1em;
}

#map_button, #form_button {
    background-color: $red;
    width: 100%;
    color: white;
    margin: 5px auto;
    z-index: 6;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
}

#form_button {
    display: none;
}

#close_info, /*#close_controls*/ {
    background-color: $red;
    color: $white;
    height: 25px;
    width: 25px;
    top: 5px;
    right: 0px;
    padding: 1px;
    float: right;
}

/*#close_controls {
    margin: 15px;
}*/

#map_button:hover, #form_button:hover, #close_info:hover, /*#close_controls:hover*/ {
    background-color: $light-red;
    cursor: pointer;
}

#boundingInstructionsIcon:hover, #csvInstructionsIcon:hover {
    cursor: pointer;
}

#submitCsv {
    width: 100%;
}

#info_container, #form_container, #map_controls {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    color: black;
    top: 0px;
    left: 0px;
    z-index: 6;
    height: 100%;
}

#info_container, #form_container {
    background-color: white;
}

#form_container {
    padding: 12px;
}

#map_controls {
    padding: 15px;
}

#map_button {
    width: 95%;
}

#info_container, #map_controls {
    display: none;
}

#inputPanel {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    float: left;
    overflow-y: scroll;
    padding: 15px 30px;
}

#googleMap {
    width:70%;
    right: 0px;
    top: 0px;
    float: right;
}

#map-legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
}

#wrapper {
    position:relative;
    overflow: hidden;
}

#address_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

#geocode_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

.ui.approve.button {
    display: block;
    margin: 0 auto;
}

#replaceable > p,a {
    margin: 0 0 0.5em;
}

.bus_number, .led_screen_number {
    display: hide;
}

form textarea#description {
    min-height: 2em;
    height: 4em;
}

@media all and (max-width: $mobile-breakpoint) {
    #inputPanel {
        width: 100%;
    }

    #licenseSearch,
    #centerMapDivider,
    #boundingBoxSection,
    #downloadCSVButton,
    #uploadCSVButton,
    #dateRange,
    #resetDatesButton,
    #typeForm,
    #vehicleDivider {
        display: none;
    }
    #googleMap {
        width: 100%;
    }

    #map_controls {
        pointer-events: none;
        width: 80%;
        left: 5%;
    }

    #addressForm {
        position: absolute;
        pointer-events: auto;
        margin: auto;
        top: 60px;
        z-index: 1;
    }

    #form_container,
    #info_container {
        position: absolute;
        width: 80%;
        left: 5%;
        top: 20px;
    }
    #form_button {
        position: absolute;
        pointer-events: auto;
        width: 100%;
        margin: auto;
        top: 20px;
        // bottom: 10px;
    }
    #submitButton {
        left: 95%;
    }
}
