{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div id="wrapper">
    <div id="inputPanel" class="ui vertical menu">
        <div id="form_button">Report Incident</div>
        <div id="form_container">
            <button id="close_form" class="ui icon button close">
                <i class="remove icon"></i>
            </button>
            <div id ="form_fields">
            {% set flashes = {
            'error': get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-check-email']),
            'info': get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            {{ f.render_form_field(form.address) }}
            <div class="ui button" id="current_location_button" onclick="geoFindMe()">Use Current location</div>
            <h3>Type</h3>
            {{ f.render_form_field(form.automobile_num) }}
            {{ f.render_form_field(form.bicycle_num) }}
            {{ f.render_form_field(form.pedestrian_num) }}
            {{ f.render_form_field(form.date)}}
            {{ f.render_form_field(form.time)}}
            {{ f.render_form_field(form.picture_file) }}
            {{ f.render_form_field(form.description) }}
            {{ f.render_form_field(form.injuries) }}
            <div id="injuries-description-field" style="display:none">{{ f.render_form_field(form.injuries_description) }}</div>
            {{ f.render_form_field(form.license_plates) }}
            {{ f.render_form_field(form.contact_name) }}
            {{ f.render_form_field(form.contact_phone) }}
            {{ f.render_form_field(form.contact_email) }}
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}
            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
            {{ f.render_form_field(field) }}
            {% endfor %}
            {{ form.hidden_tag() }}
            {{ f.end_form() }}
            </div>
        </div>
        <div id="info_container">
            <div id="replaceable"></div>
        </div>

        <form name="addressForm" id="addressForm">
            <div class="ui action input" id="addressSearch">
                <input class="prompt" placeholder="Enter Address..." type="text" name="addressInput" id="addressInput">
                <button id="submitButton" class="ui button">Center</button>
            </div>
        </form>

        <div class="ui horizontal divider" id="vehicleDivider">Filters</div>

        <form name="licenseForm" id="licenseForm">
            <div class="ui action input" id="licenseSearch">
                <input class="prompt" placeholder="Enter License Plate..." type="text" name="license" id="license">
                <button id="licenseSubmitButton" class="ui button">Search</button>
            </div>
        </form>

        <h4>Bounding Boxes&nbsp&nbsp<a><i onclick="sendBoundingInstructionsModal()" class="info circle icon" aria-hidden="true" id="boundingInstructionsIcon"></i></a></h4>
        <button id="createBoundingBoxButton" class="ui button">Create Bounding Box</button>

        <button id="deleteBoundingBoxButton" class="ui button">Delete Bounding Box</button>
        <div class="ui form" id="dateRange">
          <div class="field">
            <label>Start Date</label>
            <div class="ui calendar" id="startDate">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Start" />
              </div>
            </div>
          </div>
          <div class="field">
            <label>End Date</label>
            <div class="ui calendar" id="endDate">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="End">
              </div>
            </div>
          </div>
        </div>

        <div class="ui button" id="resetDatesButton">Reset Dates</div>


        <div id="typeForm">
        <b>Vehicle Type</b>
        <form>
            <div class="ui checkbox">
              <input type="checkbox" id="automobile"></input>
              <label>Automobile</label>
            </div>
            <br />
            <div class="ui checkbox">
              <input type="checkbox" id="bicycle"></input>
              <label>Bicycle</label>
            </div>
            <br />
            <div class="ui checkbox">
              <input type="checkbox" id="pedestrian"></input>
              <label>Pedestrian</label>
            </div>
        </form>
        </div>

    <div class="ui horizontal divider" id="vehicleDivider">CSV&nbsp&nbsp<a><i class="info circle icon" id="csvInstructionsIcon" onclick="sendDownloadCsvInstructionsModal()" aria-hidden="true"></i></a></div>

    <button id="downloadCSVButton" class="ui button">Download CSV</button>

    {% if current_user.is_admin() %}
        <form id="uploadCSVButton" action="{{ url_for('admin.upload_reports') }}" method="post" role="form" enctype="multipart/form-data">
            <input type="file" name="file" id="open-file" style="display:none">
            <label class="ui icon button" for="open-file" id="open-file-label">
                <i class="file icon"></i>
                Open File
            </label>
            {{ form.hidden_tag() }}
            <button class="ui button" type="submit" id="submitCsv">Upload CSV</button>
        </form>
    {% endif %}

    </div>

    <div id="googleMap"></div>
</div>

<!-- Modal stuff -->
<div class="ui centered modal" id="geocode_error">
    <i class="close icon"></i>
    <div class="header">Geocode not successful</div>
    <div class="actions">
        <div class="ui approve button">Okay</div>
    </div>
</div>
<div class="ui centered modal" id="address_error">
    <i class="close icon"></i>
    <div class="header">Address not found</div>
    <div class="actions">
        <div class="ui approve button">Okay</div>
    </div>
</div>

<div class="ui centered modal" id="bounding-instructions-modal">
    <i class="close icon"></i>
    <div class="header">Bounding Box Instructions</div>
    <div class="content">
        <p><ul>
        <li>Click "Create Bounding Box" to filter the map markers to include only incidents in a specified region.</li>
        <li>Click the <img src="static/images/google_maps_rectangle_button.png"/> button and drag across the map for a rectangular region OR</li>
        <li>Click the <img src="static/images/google_maps_polygon_button.png"/> button to draw a freeform shape. To draw the shape, double click on a point on the map, then extend the line to another point and click once, then extend and click again, etc. When you want to complete the shape, simply return to the first point and click.</li>
        <li>You can modify a rectangle/shape by dragging the white vertices of the rectangle/shape, and you can drag a shape across the map as well.</li>
        <li>Click "Delete Bounding Box" to delete the rectangle or shape.</li>
        </p>
    </div>
</div>

<div class="ui centered modal" id="download-csv-instructions-modal">
    <i class="close icon"></i>
    <div class="header">CSV Instructions</div>
    <div class="content">
        <p>
            Download a CSV containing information for all incidents that are currently on the map,
            or upload a CSV with information for additional markers to add onto the map.
        </p>
        <p>
            For uploading a CSV, the columns should be:
            <ol>
                <li>Date</li>
                <li>Location</li>
                <li>Number of Automobiles</li>
                <li>Number of Bicycles</li>
                <li>Number of Pedestrians</li>
                <li>Description</li>
                <li>Injuries</li>
                <li>Injuries Description</li>
                <li>Number of Deaths</li>
                <li>License Plates</li>
                <li>Picture URL</li>
                <li>Contact Name</li>
                <li>Contact Phone</li>
                <li>Contact Email</li>
            </ol>
            The first line of the CSV must include all of these column names in this order, regardless of whether some (or all) incidents do not have certain fields filled out.
            Please note that entry in the Injuries column should be either "Yes" or "No". If there are no injuries, the "Injuries Description" is optional.
            The entries for "License Plates", "Picture URL", "Contact Name", "Contact Phone", and "Contact Email" are optional.

            All other columns require an input.
        </p>

    </div>
</div>

<script type="text/javascript">
    var map;
    var drawingManager;
    var shape = null;
    var rectangle = null;
    var polygon = null;
    var dragging = false;

    $('#createBoundingBoxButton').click(function() {
        drawShape();
    })

    $('#deleteBoundingBoxButton').click(function() {
        deleteShape();
        inboundsMarkers = filterMarkers();
        map.fitBounds(geographicBounds);
    });

    $('#resetDatesButton').click(resetDates);

    $('#form_button').click(function(){
        $('#form_container').toggle();
        $('#info_container').hide();
        $('#form_button').toggle();
    });

    $('#close_form').click(function(){
        $('#form_container').hide();
        $('#form_button').toggle();
    });

    $('#downloadCSVButton').click(function() {
        {% if current_user.is_authenticated %}
            downloadCSV(true);
        {% else %}
            downloadCSV(false);
        {% endif %}
    });

    $('#uploadCSVButton').click(function() {
        // $('#file_upload').click();
        //TODO: WHAT IS HERE
    });

    function initializeMapAndMarkers() {
        var mapProp = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false,
                scrollwheel: false,
        };
        map = new google.maps.Map($('#googleMap')[0],mapProp);
        var legend = document.createElement('div');
        legend.innerHTML = '<h3>Legend</h3>';
        legend.id = 'map-legend';
        var div1 = document.createElement('div');
        div1.innerHTML = '<img src="../static/images/marker_swatch.png"> No Injury';
        var div2 = document.createElement('div');
        div2.innerHTML = '<img src="../static/images/injury_swatch.png"> Injury';
        var div3 = document.createElement('div');
        div3.innerHTML = '<img src="../static/images/death_swatch.png"> Death';
        legend.appendChild(div1);
        legend.appendChild(div2);
        legend.appendChild(div3);
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
        google.maps.event.addListener(map, 'click', function(event) {
                $('#latitude').val(event.latLng.lat());
                $('#replaceable').hide()
                $('#info_container').hide()
                $('#longitude').val(event.latLng.lng());
                getReverseGeocodingData(event.latLng.lat(), event.latLng.lng());
        });

        drawingManager = new google.maps.drawing.DrawingManager();

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
            deleteShape();
            shape = event.overlay;
        });

        google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(event) {
            rectangle = shape;
            shape = null;
            rectangle.addListener('dragstart', draggingShapeStart);
            rectangle.addListener('dragend', draggingShapeEnd);
            rectangle.addListener('bounds_changed', updateMarkersFromBounds);
            updateMarkersFromBounds();
        });

        google.maps.event.addListener(drawingManager, 'polygoncomplete', function(event) {
            polygon = shape;
            shape = null;
            polygon.addListener('dragstart', draggingShapeStart);
            polygon.addListener('dragend', draggingShapeEnd);
            google.maps.event.addListener(polygon.getPath(), 'set_at', function() { updateMarkersFromBounds(); });
            google.maps.event.addListener(polygon.getPath(), 'set_at', function() { updateMarkersFromBounds(); });
            updateMarkersFromBounds();
        });


        var oms = new OverlappingMarkerSpiderfier(map, {keepSpiderfied: true, nearbyDistance: 10});

        var selectedMarker;
        var selectedMarkerIcon;
        // Add click listener to marker for displaying infoWindow
        oms.addListener('click', function(marker, event) {
          $('#form_container').hide()
          $('#info_container').show();
          $('#form_button').hide();
          $('#replaceable').replaceWith(marker.contentString);
          if (selectedMarker != null) {
              selectedMarker.setIcon(selectedMarkerIcon);
          }
          selectedMarker = marker;
          selectedMarkerIcon = marker.icon;
          marker.setIcon("../static/images/marker_selected.png");
          $('#close_info').on('click', function() {
              $('#info_container').hide();
              $('#form_button').show();
              marker.setIcon(selectedMarkerIcon);
              selectedMarker = null;
          });
        });

        markers = [];
        var minDate = new Date(2015, 0, 1);
        var bounds = new google.maps.LatLngBounds();
        {% for report in incident_reports %}
            var iconFile = "";
            {% if report.deaths > 0 %}
                iconFile = '../static/images/marker_deaths.png';
            {% elif report.injuries == 'Yes' %}
                iconFile = "../static/images/marker_injury.png";
            {% else %}
                iconFile = "../static/images/marker.png";
            {% endif %}
            $(function() {
                console.log('{{ report.address.latitude }}');
                console.log('{{ report.address.longitude }}');
            var marker = new google.maps.Marker({
                // Use latitude and longitude values from incident report
                // to set position of marker
                position:{lat: parseFloat('{{ report.address.latitude }}'), lng: parseFloat('{{ report.address.longitude }}')},
                icon: iconFile
            });
            var dateString = '{{ report.date }}';
            year = parseInt((dateString.split(' '))[0].split('-')[0]);
            month = parseInt((dateString.split(' '))[0].split('-')[1])-1;
            day = parseInt((dateString.split(' '))[0].split('-')[2]);
            incidentDate = new Date(year, month, day);
            if (incidentDate.getTime() < minDate.getTime())
                minDate.setTime(incidentDate.getTime());
            var contentString = '<div id="replaceable" class="ui segment">' +
                                '<button id="close_info" class="ui icon button close">' +
                                '<i class="remove icon"></i>' +
                                '</button>' +
                                '<h3>Date: ' + '{{ report.date.strftime('%m-%d-%Y at %I:%M %p') }}' + '</h3>' +
                                '<p><b>Description:</b> ' + '{{ report.description }}' + '</p>' +
                                '<p><b>Injuries:</b> ' + '{{ report.injuries_description if report.injuries_description else '' }} ';
            {% if report.deaths > 0 %}
                contentString += '<p><b>Number of Deaths:</b> ' + '{{ report.deaths }}' + '</p>';
            {% endif %}
            contentString += '<p><b>Number of Pedestrians:</b> ' + '{{ report.pedestrian_num }}' + '</p>' +
                                '<p><b>Number of Automobiles:</b> ' + '{{ report.automobile_num }}' + '</p>' +
                                '<p><b>Number of Bicycles:</b> ' + '{{ report.bicycle_num }}' + '</p>' +
                                '<p><b>License Plates:</b> ' + "{{ report.license_plates if report.license_plates else '' }}" + '</p>';
            {% if report.picture_url %}
            contentString += '<p><a href="{{ report.picture_url }}" target="_blank" rel="noopener noreferrer">' + 'Link to Picture' + '</a></p>';
            {% endif %}
            {% if current_user.is_authenticated %}
            contentString += '<p><b>Contact Name:</b> ' + '{{ report.contact_name if report.contact_name else '' }}' +'</p>';
            contentString += '<p><b>Contact Phone:</b> ' + '{{ report.contact_phone if report.contact_phone else '' }}' + '</p>';
            contentString += '<p><b>Contact Email:</b> ' + '{{ report.contact_email if report.contact_email else '' }}</div>';
            {% else %}
            contentString += '</div>';
            {% endif %}
            bounds.extend(marker.getPosition());

            // Dynamically add state to marker object.
            marker.incidentDate = incidentDate;
            marker.locationName = '\"{{ report.address | replace("\n", ", ") }}\"';

            marker.pedestrianNum = '{{ report.pedestrian_num }}';
            marker.automobileNum = '{{ report.automobile_num }}';
            marker.bicycleNum = '{{ report.bicycle_num }}';
            marker.description = '{{ report.description }}';
            marker.injuries = '{{ report.injuries }}';
            marker.injuries_description = '{{ report.injuries_description if report.injuries == "Yes" else "No injuries." }}';
            marker.deaths = '{{ report.deaths }}';
            marker.licensePlates = "{{ report.license_plates if report.license_plates else ''}}";
            marker.pictureUrl = '{{ report.picture_url if report.picture_url else '' }}';

            {% if current_user.is_admin() %}
            marker.contactName = '{{ report.contact_name if report.contact_name else '' }}';
            marker.contactPhone = '{{ report.contact_phone if report.contact_phone else '' }}';
            marker.contactEmail = '{{ report.contact_email if report.contact_email else '' }}';
            {% endif %}

            marker.contentString = contentString;
            markers.push(marker);
            var infoWindow = new google.maps.InfoWindow({
                content: contentString
            });
        });
        {% endfor %}
        storeMarkerState(markers, map, minDate, bounds, oms);
        initializeDateRange();
        addLocationButton(map);
        addCenterButton(map);
    }
    $(document).ready(function() {
        // Add the map to the window
        google.maps.event.addDomListener(window, 'load', initializeMapAndMarkers);
        // Set the height of the googleMap to the height of the window (less
        // any elements above the googleMap)
        $(function () {
            $("#googleMap").css("height", $(window).height() -
                $(".ui.navigation.grid").height());
            $(".ui.navigation.grid").css("margin-bottom", "0");
            $("footer").css("margin-top", "0");
        });

    });

    function drawShape() {
        // If already in drawing mode, cancel it.
        if (drawingManager.getMap()) {
            drawingManager.setMap(null);
        } else {
            //Setting options for the Drawing Tool. In our case, enabling Polygon shape.
            drawingManager.setOptions({
                drawingMode : google.maps.drawing.OverlayType.RECTANGLE,
                drawingControl : true,
                drawingControlOptions : {
                    position : google.maps.ControlPosition.TOP_CENTER,
                    drawingModes : [ 'polygon', 'rectangle' ]
                },
                rectangleOptions : {
                    strokeColor : '#6c6c6c',
                    strokeWeight : 3.5,
                    fillColor : '#926239',
                    fillOpacity : 0.6,
                    editable: true,
                    draggable: true
                },
                polygonOptions : {
                    strokeColor : '#6c6c6c',
                    strokeWeight : 3.5,
                    fillColor : '#926239',
                    fillOpacity : 0.6,
                    editable: true,
                    draggable: true
                }
            });
            // Loading the drawing Tool in the Map.
            drawingManager.setMap(map);
        }

    }

    function deleteShape() {
        if (rectangle) {
            rectangle.setMap(null);
        }
        if (polygon) {
            polygon.setMap(null);
        }
        rectangle = null;
        polygon = null;
    }

    function updateMarkersFromBounds() {
        if (!dragging) {
            if (rectangle) {
                var bounds = rectangle.getBounds();
                map.fitBounds(bounds);
            }
            else {
                var vertices = polygon.getPath();
                var bounds = new google.maps.LatLngBounds();
                for (v=0; v < vertices.getLength(); v++) {
                    bounds.extend(vertices.getAt(v));
                }
                map.fitBounds(bounds);
            }
            inboundsMarkers = filterMarkers();
            drawingManager.setMap(null);
        }
    }

    function draggingShapeStart() {
        dragging = true;
    }

    function draggingShapeEnd() {
        dragging = false;
        updateMarkersFromBounds()
    }

    function getReverseGeocodingData(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results);
                 $('#address').val(results[0].formatted_address);
            }
        });
    }

    function geoFindMe() {
        if (!navigator.geolocation){
          return;
        }
        function success(position) {
            var geocoder = new google.maps.Geocoder;
            console.log(position.coords);
            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);
            getReverseGeocodingData(position.coords.latitude,
                position.coords.longitude)
        };
        function error() {
        };
        navigator.geolocation.getCurrentPosition(success, error);
    }

    $('#injuries-0').click(function() {
        $('#injuries-description-field').show('fast');
    })

    $('#injuries-1').click(function() {
        $('#injuries-description-field').hide('fast');
    })

    function sendBoundingInstructionsModal() {
        $("#bounding-instructions-modal").modal('show');
    }

    function sendDownloadCsvInstructionsModal() {
        $("#download-csv-instructions-modal").modal('show');
    }

    $('#open-file').on('change', function(e) {
        var filename;
        var $label = $('#open-file-label');
        if (e.target.value) {
            filename = e.target.value.split('\\').pop();
        }
        if (filename) {
            $label.html('<i class="file icon"></i>&nbsp'+filename);
        } else {
            $label.html();
        }
    });

</script>

{% endblock %}
