{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div id="wrapper">
  <div id="form_button">Report Incident</div>
    <div id="inputPanel"></div>
        <div id="form_container">
            <button id="close_form" class="ui icon button close">
                <i class="remove icon"></i>
            </button>
            <div id ="form_fields">
            {% set flashes = {
            'error': get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-check-email']),
            'info': get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            {{ f.render_form_field(form.address) }}
            <div class="ui button" id="current_location_button" onclick="geoFindMe()">Use Current location</div>
            <h3>Type</h3>
            {{ f.render_form_field(form.automobile_num) }}
            {{ f.render_form_field(form.bicycle_num) }}
            {{ f.render_form_field(form.pedestrian_num) }}
            {{ f.render_form_field(form.other_num) }}
            {{ f.render_form_field(form.date)}}
            {{ f.render_form_field(form.time)}}
            {{ f.render_form_field(form.picture_file) }}
            {{ f.render_form_field(form.description) }}
            {{ f.render_form_field(form.injuries) }}
            {{ f.render_form_field(form.license_plates) }}
            {{ f.render_form_field(form.contact_name) }}
            {{ f.render_form_field(form.contact_phone) }}
            {{ f.render_form_field(form.contact_email) }}
            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}
            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
            {{ f.render_form_field(field) }}
            {% endfor %}
            {{ form.hidden_tag() }}
            {{ f.end_form() }}
            </div>
        </div>
        <div id="info_container">
            <div id="replaceable"></div>
        </div>

        <form name="addressForm" id="addressForm">
            <div class="ui action input" id="addressSearch">
                <input class="prompt" placeholder="Enter Address..." type="text" name="address" id="address">
                <button id="submitButton" class="ui button">Center</button>
            </div>
        </form>

        <button id="createBoundingBoxButton" class="ui button">Create Bounding Box</button>
        <button id="deleteBoundingBoxButton" class="ui button">Delete Bounding Box</button>
        <div class="ui form" id="dateRange">
          <div class="field">
            <label>Start Date</label>
            <div class="ui calendar" id="start-date">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Start" />
              </div>
            </div>
          </div>
          <div class="field">
            <label>End Date</label>
            <div class="ui calendar" id="end-date">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="End">
              </div>
            </div>
          </div>
        </div>

        <div class="ui button" id="resetDatesButton">Reset Dates</div>
        <button id="downloadCSVButton" class="ui button">Download CSV</button>


        <div id="typeForm">
        <b>Vehicle Type</b>
        <form>
            <div class="ui checkbox">
              <input type="checkbox" id="automobile"></input>
              <label>Automobile</label>
            </div>
            <br />
            <div class="ui checkbox">
              <input type="checkbox" id="bicycle"></input>
              <label>Bicycle</label>
            </div>
            <br />
            <div class="ui checkbox">
              <input type="checkbox" id="pedestrian"></input>
              <label>Pedestrian</label>
            </div>
            <br />
            <div class="ui checkbox">
              <input type="checkbox" id="other"></input>
              <label>Other</label>
            </div>
            <br />
        </form>
        </div>
    <div id="googleMap"></div>
</div>

<!-- Modal stuff -->
<div class="ui centered modal" id="geocode_error">
    <i class="close icon"></i>
    <div class="header">Geocode not successful</div>
    <div class="actions">
        <div class="ui approve button">Okay</div>
    </div>
</div>
<div class="ui centered modal" id="address_error">
    <i class="close icon"></i>
    <div class="header">Address not found</div>
    <div class="actions">
        <div class="ui approve button">Okay</div>
    </div>
</div>

<div class="ui centered modal" id="bounding-box-instructions">
    <i class="close icon"></i>
    <div class="modal-content">
        <div class="modal-header">Bounding Box Instructions</div>
    <div class="modal-body">
        <p> Filter the map markers to include only incidents in a specified region. Click the <img src="static/images/google_maps_rectangle_button.png"/> button and drag across the map for a rectangular region OR
        <br>
            Click the <img src="static/images/google_maps_polygon_button.png"/> button to draw a freeform shape. To draw the shape, double click on a point on the map, then extend the line to another point and click once, then extend and click again, etc. When you want to complete the shape, simply return to the first point and click.
        <br>
            You can modify a rectangle/shape by dragging the white vertices of the rectangle/shape, and you can drag a shape across the map as well.
        <br>
            Click "Delete Bounding Box" to delete the rectangle or shape.
        </p>
    </div>
</div>
<form class="modal multi-step" id="instructions-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                <h4 class="modal-title step-2" data-step="2">Step 2</h4>
                <h4 class="modal-title step-3" data-step="3">Step 3</h4>
                <h4 class="modal-title step-4" data-step="4">Step 4</h4>
                <h4 class="modal-title step-5" data-step="5">Step 5</h4>
            </div>
            <div class="modal-body step step-1">
                <p>Sign into the Google account linked to your Android device. Go to <a href="https://takeout.google.com/settings/takeout" target="_blank">takeout.google.com/settings/takeout.</a></p>
            </div>
            <div class="modal-body step step-2">
                <p>Click "Select none."
                <br>
                <img class="tutorial-img" src="static/images/takeout-screenshots/select-none.png" /></p>
            </div>
            <div class="modal-body step step-3">
                <p>Select Location History. Make sure it is set to JSON format.
                <br>
                <img class="tutorial-img" src="static/images/takeout-screenshots/select-location.png" />
                <br>
                Click next.</p>
            </div>
            <div class="modal-body step step-4">
                <p>Choose the format as follows.
                <br>
                <img class="tutorial-img" src="static/images/takeout-screenshots/choose-format.png" />
                Create archive.</p>
            </div>
            <div class="modal-body step step-5">
                <p>Unzip/Unarchive and extract the resulting downloaded .zip file. Open the "Location History" folder and move the "LocationHistory.json" file to a known place. <b> You'll be using this file for the upload process</b>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info step step-1" data-step="1" onclick="sendEvent(2)">Continue</button>
                <button type="button" class="btn btn-info step step-2" data-step="2" onclick="sendEvent(3)">Continue</button>
                <button type="button" class="btn btn-info step step-3" data-step="3" onclick="sendEvent(4)">Continue</button>
                <button type="button" class="btn btn-info step step-4" data-step="4" onclick="sendEvent(5)">Continue</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var map;
    var drawingManager;
    var rectangle = null;
    var dragging = false;


    $('#createBoundingBoxButton').click(drawRec);

    $('#deleteBoundingBoxButton').click(function() {
        deleteRec();
        filterMarkers();
        map.fitBounds(geographicBounds);
    });

    $('#resetDatesButton').click(resetDates);

    $('#form_button').click(function(){
        $('#form_container').toggle();
        $('#info_container').hide();
        $('#form_button').toggle();
    });

    $('#close_form').click(function(){
        $('#form_container').hide();
        $('#form_button').toggle();
    });

    $('#downloadCSVButton').click(function() {
        {% if current_user.is_admin() %}
            downloadCSV(true);
        {% else %}
            downloadCSV(false);
        {% endif %}
    });

    function initializeMapAndMarkers() {
        var mapProp = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false,
                scrollwheel: false,
        };
        map = new google.maps.Map($('#googleMap')[0],mapProp);
        google.maps.event.addListener(map, 'click', function(event) {
                $('#latitude').val(event.latLng.lat());
                $('#replaceable').hide()
                $('#info_container').hide()
                $('#longitude').val(event.latLng.lng());
                getReverseGeocodingData(event.latLng.lat(), event.latLng.lng());
        });

        drawingManager = new google.maps.drawing.DrawingManager();

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
            deleteRec();
            rectangle = event.overlay;
            rectangle.addListener('dragstart', draggingRectangleStart);
            rectangle.addListener('dragend', draggingRectangleEnd);
            rectangle.addListener('bounds_changed', updateMarkersFromBounds);
            updateMarkersFromBounds();
        });

        var oms = new OverlappingMarkerSpiderfier(map, {keepSpiderfied: true, nearbyDistance: 10});

        var selectedMarker;
        var selectedMarkerIcon;
        // Add click listener to marker for displaying infoWindow
        oms.addListener('click', function(marker, event) {
          $('#form_container').hide()
          $('#info_container').show();
          $('#form_button').hide();
          $('#replaceable').replaceWith(marker.contentString);
          if (selectedMarker != null) {
              selectedMarker.setIcon(selectedMarkerIcon);
          }
          selectedMarker = marker;
          selectedMarkerIcon = marker.icon;
          marker.setIcon("../static/images/marker_selected.png");
          $('#close_info').on('click', function() {
              $('#info_container').hide();
              $('#form_button').show();
              marker.setIcon(selectedMarkerIcon);
              selectedMarker = null;
          });
        });

        markers = [];
        var minDate = new Date(2015, 0, 1);
        var bounds = new google.maps.LatLngBounds();
        {% for report in incident_reports %}
            var iconFile = "";
            {% if report.injuries and report.injuries|length > 0 %}
                iconFile = "../static/images/marker_injury.png";
            {% else %}
                iconFile = "../static/images/marker.png";
            {% endif %}
            $(function() {
            var marker = new google.maps.Marker({
                // Use latitude and longitude values from incident report
                // to set position of marker
                position:{lat: parseFloat('{{ report.address.latitude }}'), lng: parseFloat('{{ report.address.longitude }}')},
                icon: iconFile
            });
            var dateString = '{{ report.date }}';
            year = parseInt((dateString.split(' '))[0].split('-')[0]);
            month = parseInt((dateString.split(' '))[0].split('-')[1])-1;
            day = parseInt((dateString.split(' '))[0].split('-')[2]);
            incidentDate = new Date(year, month, day);
            if (incidentDate.getTime() < minDate.getTime())
                minDate.setTime(incidentDate.getTime());
            var contentString = '<div id="replaceable" class="ui segment">' +
                                '<button id="close_info" class="ui icon button close">' +
                                '<i class="remove icon"></i>' +
                                '</button>' +
                                '<h3>Date: ' + '{{ report.date.strftime('%m-%d-%Y at %I:%M %p') }}' + '</h3>' +
                                '<p><b>Description:</b> ' + '{{ report.description }}' + '</p>' +
                                '<p><b>Injuries:</b> ' + '{{ report.injuries if report.injuries else '' }} ' +
                                '<p><b>Number of Pedestrians:</b> ' + '{{ report.pedestrian_num }}' + '</p>' +
                                '<p><b>Number of automobiles:</b> ' + '{{ report.automobile_num }}' + '</p>' +
                                '<p><b>Number of bicycles:</b> ' + '{{ report.bicycle_num }}' + '</p>' +
                                '<p><b>Number of other vehicles:</b> ' + '{{ report.other_num }}' + '</p>' +
                                '<p><b>License Plates:</b> ' + "{{ report.license_plates if report.license_plates else '' }}" + '</p>' +
                                  {% if report.picture_url %}
                                  '<p><a href="{{ report.picture_url }}" target="_blank" rel="noopener noreferrer">' + 'Link to Picture' + '</a></p>' +
                                  {% endif %}
                                {% if current_user.is_admin() %}
                                '<p><b>Contact Name:</b> ' + '{{ report.contact_name if report.contact_name else '' }}' +'</p>' +
                                '<p><b>Contact Phone:</b> ' + '{{ report.contact_phone if report.contact_phone else '' }}' + '</p>' +
                                '<p><b>Contact Email:</b> ' + '{{ report.contact_email if report.contact_email else '' }}</div>';
                                {% else %}
                                '</div>';
                                {% endif %}
            bounds.extend(marker.getPosition());

            // Dynamically add state to marker object.
            marker.incidentDate = incidentDate;
            marker.locationName = '\"{{ report.address | replace("\n", ", ") }}\"';

            marker.pedestrianNum = '{{ report.pedestrian_num }}';
            marker.automobileNum = '{{ report.automobile_num }}';
            marker.bicycleNum = '{{ report.bicycle_num }}';
            marker.otherNum = '{{ report.other_num }}';
            marker.description = '{{ report.description }}';

            marker.injuries = '{{ report.injuries if report.injuries else '' }}';
            marker.license_plates = "{{ report.license_plates if report.license_plates else ''}}";
            marker.pictureUrl = '{{ report.picture_url if report.picture_url else '' }}';

            {% if current_user.is_admin() %}
            marker.contactName = '{{ report.contact_name if report.contact_name else '' }}';
            marker.contactPhone = '{{ report.contact_phone if report.contact_phone else '' }}';
            marker.contactEmail = '{{ report.contact_email if report.contact_email else '' }}';
            {% endif %}

            marker.contentString = contentString;
            markers.push(marker);
            var infoWindow = new google.maps.InfoWindow({
                content: contentString
            });
        });
        {% endfor %}
        storeMarkerState(markers, map, minDate, bounds, oms);
        initializeDateRange();
        addLocationButton(map);
        addCenterButton(map);
    }
    $(document).ready(function() {
        // Add the map to the window
        google.maps.event.addDomListener(window, 'load', initializeMapAndMarkers);
        // Set the height of the googleMap to the height of the window (less
        // any elements above the googleMap)
        $(function () {
            $("#googleMap").css("height", $(window).height() -
                $(".ui.navigation.grid").height());
            $(".ui.navigation.grid").css("margin-bottom", "0");
            $("footer").css("margin-top", "0");
        });
    });

    function drawRec() {
        // If already in drawing mode, cancel it.
        if (drawingManager.getMap()) {
            drawingManager.setMap(null);
        } else {
            //Setting options for the Drawing Tool. In our case, enabling Polygon shape.
            drawingManager.setOptions({
                drawingMode : google.maps.drawing.OverlayType.RECTANGLE,
                drawingControl : true,
                drawingControlOptions : {
                    position : google.maps.ControlPosition.TOP_CENTER,
                    drawingModes : [ google.maps.drawing.OverlayType.RECTANGLE ]
                },
                rectangleOptions : {
                    strokeColor : '#6c6c6c',
                    strokeWeight : 3.5,
                    fillColor : '#926239',
                    fillOpacity : 0.6,
                    editable: true,
                    draggable: true
                }
            });
            // Loading the drawing Tool in the Map.
            drawingManager.setMap(map);
        }

    }

    function deleteRec() {
        if (rectangle) {
            rectangle.setMap(null);
        }
        rectangle = null;
    }

    function updateMarkersFromBounds() {
        if (!dragging) {
            var bounds = rectangle.getBounds();
            map.fitBounds(bounds);
            filterMarkers();
            drawingManager.setMap(null);
        }
    }

    function draggingRectangleStart() {
        dragging = true;
    }

    function draggingRectangleEnd() {
        dragging = false;
        updateMarkersFromBounds()
    }

    function getReverseGeocodingData(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results);
                 $('#address').val(results[0].formatted_address);
            }
        });
    }

    function geoFindMe() {
        if (!navigator.geolocation){
          return;
        }
        function success(position) {
            var geocoder = new google.maps.Geocoder;
            console.log(position.coords);
            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);
            getReverseGeocodingData(position.coords.latitude,
                position.coords.longitude)
        };
        function error() {
        };
        navigator.geolocation.getCurrentPosition(success, error);
    }
</script>

{% endblock %}
